<!-- <strong *ngIf="chatMessages[0].model === 'tinyllama:latest'">User: </strong>
<span>{{ chatMessages[0].prompt }}</span>

<div *ngFor="let msg of chatMessages">
   <strong *ngIf="msg.model === 'tinyllama:latest'">AI:</strong>
  <strong *ngIf="msg.model !== 'tinyllama:latest'">User:</strong> 
  <p>{{ msg.prompt }}</p>
</div>-->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Chat GPT Clone</title>

    <!-- Link to your CSS file for styling -->
  </head>
  <body>
    <div class="container-fluid mb-5 overflow-auto" style="height: 450px">
      <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
          <!-- Output Area -->
          <div id="outputArea" *ngFor="let msg of chatMessages">
            <p [innerHtml]="msg.prompt"></p>
          </div>
        </div>
        <div class="col-lg-2"></div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
          <input
            type="text"
            id="inputText"
            placeholder="Type a question..."
            (keyup.enter)="sendMessage($event)"
          />
        </div>
        <div class="col-lg-2"></div>
      </div>
    </div>
  </body>
</html>
